/* ------- *
 *  About  *
 * ------- */

.about {
  font-size: 1em;
  margin: 0 auto;
  padding: 2em 1em;
  max-width: 600px;
  @include bp(medium) {
    font-size: 16px;
  }
}

//About Page Title
.about h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0 1em 0;
  font-size: 2em;
}

//About Subtitle
.about h3 {
  margin: 0 0 1em 0
}

//About Paragraphs
.about p {
  margin-bottom: 2em;
}

//Math Equation Styling
.about code {
  background: $secondary;
  padding: 1em 2em;
  display: inline-block;
  margin-bottom: 2em;
}

//About unordered list
.about ul {
  margin: 0 0 2em 0;
  margin-left: 1em;
}

.about li {
  line-height: 1.4;
  list-style: disc;
  margin-bottom: .5em;
}
