/* --------- *
 *  Buttons  *
 * --------- */

.button-container {
  @extend %clearfix;
  float: left;
  margin: auto;
  width: 100%;
  @include bp(medium) {
    width: auto;
  }
  .button {
    width: 100%;
    display: block;
    @include bp(medium) {
      width: auto;
      display: inline-block;
    }
  }
}

.button {
  font-size: inherit;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  transition: opacity 0.25s;
}

.button:hover {
  cursor: pointer;
  opacity: 0.75;
}

@media (hover: none) {
  .button {
    opacity: 1;
  }
}

.button--reset {
  color: white;
  border-radius: 2px;
  padding: 0.5em;
  background: darken($tertiary, 15%);
  margin-bottom: 1em;
  @include bp(medium) {
    padding: 1em;
    margin: 0 0 0 1em;
  }
}

.button--calculate {
  color: white;
  border-radius: 2px;
  padding: 0.5em;
  background: $base;
  @include bp(medium) {
    padding: 1em;
    margin-left: 1em;
  }
}
