/* ------- *
 * Calculator *
 * ------- */

.calculator-container {
  text-align: center;
  height: 100vh;
  transform-style: preserve-3d;
}

.calculator {
  padding: 2em;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-height: 100px;
  @extend %clearfix;
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
 }
}

//Title
.title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2em;
  display: none;
}
