/* ------------ *
 *  Calculator  *
 * ------------ */

.calculator-container {
  text-align: center;
  transform-style: preserve-3d;
  height: 100vh;
  min-height: 350px;
}

.calculator {
  border-radius: 2px;
  padding: 1em;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  @include bp(medium) {
    top: 50%;
  }
  @extend %clearfix;
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
