/* -------- *
 *  Inputs  *
 * -------- */

.input-container {
  float: left;
  width: 100%;
  @include bp(medium) {
    width: auto;
    margin: auto;
  }
}

select,
input[type="text"],
input[type="number"],
textarea {
  font-size: inherit;
}

select {
  cursor: pointer;
}

.input {
  appearance: none;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $base;
  background: white;
  margin-bottom: 1em;
  padding: 0.5em;
  color: $base;
  display: block;
  width: 100%;
  &::placeholder {
    color: gray;
    text-align: center;
  }
  @include bp(medium) {
    margin: 0 0.5em;
    padding: 1em;
    width: auto;
    display: inline-block;
  }
}
