/* ------------ *
 *  Navigation  *
 * ------------ */

.title--h1 {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  width: 10px;
  @include bp(medium) {
    font-size: 16px;
  }
}

.button--learn-more {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  text-decoration: underline;
  @include bp(medium) {
    font-size: 16px;
  }
}
