/* ------- *
 * Notifications *
 * ------- */

//Notification Topbar
.notification {
  font-size: 16px;
  background: white;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 99;
  text-align: center;
  transform: translate3d(0, -100%, 0);
  transition: transform .5s;
  border-bottom: 1px solid $secondary;
  @include bp(small) {
    height: 50px;
  }
  p {
    border-left: 10px solid white;
  }
}

.notification--hide {
  transform: translate3d(0, -100%, 0);
  p {
    border-color: white;
    transition-delay: .5s;
  }
}

.notification--accepted {
  transform: translate3d(0, 0, 0);
  .notification-message--accepted {
    border-color: $accepted;
    opacity: 1;
    visibility: visible;
  }
}

.notification--missing {
  transform: translate3d(0, 0, 0);
  .notification-message--missing {
    border-color: $missing;
    opacity: 1;
    visibility: visible;
  }
}

.notification--rejected {
  transform: translate3d(0, 0, 0);
  .notification-message--rejected {
    border-color: $rejected;
    opacity: 1;
    visibility: visible;
  }
}

//Notification Message Paragraph
.notification-message {
  display: inline-block;
  position: absolute;
  height: 75px;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  margin: auto;
  line-height: 1.2;
  padding: 1.1em 2.5em;
  visibility: hidden;
  @include bp(small) {
    padding: 1em 2em;
    height: 50px;
  }
}

//Cal Factor Result Styling
em {
  font-weight: bold;
}

//Emoijs
.no-emoji .emoji-icon {
  display: none;
}


// Hide Notification "X" Button
.button--hide-notification {
  line-height: 1;
  font-size: 16px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  right: 1em;
  border-radius: 2px;
  background: darken($secondary, 10%);
  @include bp(small) {
    right: 1.5em;
  }
}

.box {
  padding-top:  2px;
  width: 20px;
  height: 20px;
}
