/* ------- *
 *  Title  *
 * ------- */

.title {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: .5em;
  color: $tertiary;
  text-transform: uppercase;
  text-align: center;
  display: none;
}
