/* ------- *
 *  Main  *
 * ------- */
 body {
   margin: 0;
   padding: 0;
 }

 .App {
  height: 100vh;
  background: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
 }
