/* ---------- *
 *  Variables *
 * ---------- */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
gallery, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
gallery, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ------- *
* Clearfix *
* ------- */
.calculator:after, .button-container:after {
  display: table;
  content: "";
  clear: both; }

/* ------- *
 * Responsive *
 * ------- */
/* ------- *
 *  Main  *
 * ------- */
body {
  margin: 0;
  padding: 0; }

.App {
  height: 100vh;
  background: #f5f5f5; }

/* ------- *
 *  Typography  *
 * ------- */
body {
  font-family: arial, sans-serif;
  font-size: 16px; }
  @media (min-width: 600px) {
    body {
      font-size: 12px; } }

code {
  font-family: Courier, 'New Courier', monospace; }

/* ------- *
 * Calculator *
 * ------- */
.calculator-container {
  text-align: center;
  height: 100vh;
  transform-style: preserve-3d; }

.calculator {
  padding: 2em;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .calculator:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }

/* ------- *
 * Inputs  *
 * ------- */
.input-container {
  float: left;
  margin: auto auto 1em auto;
  width: 100%; }
  @media (min-width: 600px) {
    .input-container {
      width: auto;
      margin: auto; } }

input[type='text'],
input[type='number'],
textarea {
  font-size: inherit; }

.input {
  appearance: none;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #101010;
  background: white;
  margin-bottom: 1em;
  padding: 1em;
  color: #101010;
  display: block;
  width: 100%; }
  .input::placeholder {
    color: gray;
    text-align: center; }
  @media (min-width: 600px) {
    .input {
      margin: 0 .5em;
      width: auto;
      display: inline-block; } }

/* ------- *
 * Buttons *
 * ------- */
.button-container {
  float: left;
  margin: auto;
  width: 100%; }
  @media (min-width: 600px) {
    .button-container {
      width: auto; } }
  .button-container .button {
    width: 100%;
    display: block; }
    @media (min-width: 600px) {
      .button-container .button {
        width: auto;
        display: inline-block; } }

.button {
  font-size: inherit;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  transition: all .25s; }

.no-touchevents .button:hover {
  cursor: pointer;
  opacity: .75; }

.button--reset {
  color: white;
  border-radius: 2px;
  padding: 1em;
  background: #989898;
  margin-bottom: 1em; }
  @media (min-width: 600px) {
    .button--reset {
      margin: 0 0 0 1em; } }

.button--calculate {
  color: white;
  border-radius: 2px;
  padding: 1em;
  background: #101010; }
  @media (min-width: 600px) {
    .button--calculate {
      margin-left: 1em; } }

/* ------- *
 * Notifications *
 * ------- */
.notification {
  font-size: 16px;
  background: white;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 99;
  text-align: center;
  transform: translate3d(0, -100%, 0);
  transition: transform .5s;
  border-bottom: 1px solid #f5f5f5; }
  @media (min-width: 470px) {
    .notification {
      height: 50px; } }
  .notification p {
    border-left: 10px solid white; }

.notification--hide {
  transform: translate3d(0, -100%, 0); }
  .notification--hide p {
    border-color: white;
    transition-delay: .5s; }

.notification--accepted {
  transform: translate3d(0, 0, 0); }
  .notification--accepted .notification-message--accepted {
    border-color: #9ecb75;
    opacity: 1;
    visibility: visible; }

.notification--missing {
  transform: translate3d(0, 0, 0); }
  .notification--missing .notification-message--missing {
    border-color: #ffc852;
    opacity: 1;
    visibility: visible; }

.notification--rejected {
  transform: translate3d(0, 0, 0); }
  .notification--rejected .notification-message--rejected {
    border-color: #de673d;
    opacity: 1;
    visibility: visible; }

.notification-message {
  display: inline-block;
  position: absolute;
  height: 75px;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  margin: auto;
  line-height: 1.2;
  padding: 1.1em 2.5em;
  visibility: hidden; }
  @media (min-width: 470px) {
    .notification-message {
      padding: 1em 2em;
      height: 50px; } }

em {
  font-weight: bold; }

.no-emoji .emoji-icon {
  display: none; }

.button--hide-notification {
  line-height: 1;
  font-size: 16px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  right: 1em;
  border-radius: 2px;
  background: gainsboro; }
  @media (min-width: 470px) {
    .button--hide-notification {
      right: 1.5em; } }

.box {
  padding-top: 2px;
  width: 20px;
  height: 20px; }

/* ------- *
 *  Title  *
 * ------- */
.title {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: .5em;
  color: #bebebe;
  text-transform: uppercase;
  text-align: center;
  display: none; }

/* ------------ *
 *  About Page  *
 * ------------ */
.button--about {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  text-decoration: underline; }
  @media (min-width: 600px) {
    .button--about {
      font-size: 16px; } }

.about {
  font-size: 1em;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 600px; }
  @media (min-width: 600px) {
    .about {
      font-size: 16px; } }

.about h2 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0 1em 0;
  font-size: 2em; }

.about h3 {
  font-weight: bold;
  margin: 0 0 1em 0; }

.about p {
  line-height: 1.4;
  margin-bottom: 2em; }

code {
  background: #f5f5f5;
  padding: 1em 2em;
  display: inline-block;
  margin-bottom: 2em; }

.about ul {
  margin: 0 0 2em 0;
  text-indent: -30px;
  margin-left: 30px; }

.about li {
  line-height: 1.2;
  list-style: disc;
  list-style-position: inside;
  margin-bottom: .5em; }

.about a {
  text-decoration: underline;
  color: #101010; }

.no-touchevents .about a:hover {
  opacity: .75; }
