/* ---------- *
 *  Variables *
 * ---------- */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
gallery, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
gallery, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ------- *
* Clearfix *
* ------- */
/* ------- *
 * Responsive *
 * ------- */
/* ------- *
 *  Main  *
 * ------- */
body {
  margin: 0;
  padding: 0; }

.App {
  height: 100vh;
  background: #edeff0;
  display: flex;
  align-items: center;
  justify-content: center; }

/* ------- *
 *  Typography  *
 * ------- */
body {
  font-family: sans-serif; }

/* ------- *
 * Calculator *
 * ------- */
.Calculator {
  padding: 2em;
  background: white;
  border-radius: 2px; }

.title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2em; }

.input {
  appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #9a9a9a;
  background: #edeff0;
  margin: 1em;
  padding: 1em;
  color: #334050; }
  .input::placeholder {
    color: white; }

.button {
  appearance: none;
  outline: none;
  border: none; }
  .button:hover {
    cursor: pointer;
    opacity: .75; }

.button--refresh {
  font-size: 1em;
  color: white;
  background: #334050;
  border-radius: 50%;
  width: 2em;
  height: 2em; }

.button--calibrate {
  margin-left: 2em; }

.notification--bad {
  background: red; }

.notification--good {
  background: green; }

.notification--missing {
  background: yellow; }
