/* ---------- *
 *  Variables *
 * ---------- */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
gallery, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
gallery, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ------- *
* Clearfix *
* ------- */
.calculator:after, .button-container:after {
  display: table;
  content: "";
  clear: both; }

/* ------- *
 * Responsive *
 * ------- */
/* ------- *
 *  Main  *
 * ------- */
body {
  margin: 0;
  padding: 0; }

.App {
  height: 100vh;
  background: #f5f5f5; }

/* ------- *
 *  Typography  *
 * ------- */
body {
  font-family: sans-serif; }

/* ------- *
 * Calculator *
 * ------- */
.calculator-container {
  text-align: center;
  height: 100vh;
  transform-style: preserve-3d; }

.calculator {
  padding: 2em;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-height: 100px; }
  .calculator:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }

.title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2em;
  display: none; }

.input-container {
  float: left;
  margin: auto auto 1em auto;
  width: 100%; }
  @media (min-width: 600px) {
    .input-container {
      width: auto;
      margin: auto; } }

.input {
  appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  background: white;
  margin-bottom: 1em;
  padding: 1em;
  color: #000000;
  display: block;
  width: 100%; }
  .input::placeholder {
    color: gray;
    text-align: center; }
  @media (min-width: 600px) {
    .input {
      margin: 0 .5em;
      width: auto;
      display: inline-block; } }

.button-container {
  float: left;
  margin: auto;
  width: 100%; }
  @media (min-width: 600px) {
    .button-container {
      width: auto; } }
  .button-container .button {
    width: 100%;
    display: block; }
    @media (min-width: 600px) {
      .button-container .button {
        width: auto;
        display: inline-block; } }

.button {
  appearance: none;
  outline: none;
  border: none;
  background: none; }
  .button:hover {
    cursor: pointer; }

.button--reset {
  color: white;
  border-radius: 2px;
  padding: 1em;
  background: #bebebe;
  margin-bottom: 1em; }
  @media (min-width: 600px) {
    .button--reset {
      margin: 0 0 0 1em; } }

.button--calculate {
  color: white;
  border-radius: 2px;
  padding: 1em;
  background: #de673d; }
  @media (min-width: 600px) {
    .button--calculate {
      margin-left: 1em; } }

.notification {
  text-align: center; }
  .notification:before {
    padding: 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0; }

.notification--calibration-accepted .button--hide-notification,
.notification--missing-data .button--hide-notification,
.notification--calibration-rejected .button--hide-notification {
  display: block; }

.button--hide-notification {
  font-size: 1em;
  z-index: 99;
  position: fixed;
  right: 1em;
  top: .75em;
  z-index: 999;
  display: none; }

.notification--calibration-accepted:before {
  content: "Calibration will likely be accepted.";
  background: green;
  color: white; }

.notification--missing-data:before {
  content: "Missing Data. Please check that both values are entered in.";
  background: yellow; }

.notification--calibration-rejected:before {
  content: "Calibration will likely be rejected.";
  background: red;
  color: white; }
