/* ---------- *
 *  Variables *
 * ---------- */

//Colors
$base: #101010; // Black
$secondary: #f5f5f5; // Light Gray
$tertiary: #bebebe; // Medium Gray
$accepted: #9ecb75; // Green
$rejected: #de673d; // Red
$missing: #ffc852; // Yellow
